<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.sist.user.main">

<!-- 메인 채용 공고 리스트 -->
<select id="selectAllRecruitment" resultType="md">
SELECT c.cm_id, c.cm_co_name, r.r_end_date, c.cm_co_pic, c.cm_co_logo, r.r_id, r.r_title
FROM company_member c
JOIN recruitment r ON c.cm_id = r.cm_id
WHERE r.r_end_date >= SYSDATE
</select>

<!-- 메인 공지사항 -->
<select id="selectAllNotice" resultType="mnd">
select n_id, n_title
from 
	(select n_id, n_title, row_number() over (order by n_date desc) as rnum
   from notice)
where rnum &lt;= 5
</select>

<!-- 메인 배너 채용공고 리스트 -->
<select id="selectRecruitmentBanner" resultType="md">
select
	r.r_id, r.r_title, c.cm_co_name, r.r_end_date, c.cm_co_pic, c.cm_co_logo,
	case
    when r.r_end_date - sysdate >= 0
        then 'D-' || to_char(r.r_end_date - sysdate, 'fm999')
        else '마감'
    end as d_day
from (select * from recruitment order by r_end_date asc) r join company_member c on r.cm_id = c.cm_id
where rownum &lt;= 8
order by r.r_end_date asc
</select>

</mapper>